PORT=3000

NODE_ENV=dev

APP_NAME=SE-GRMS

APP_DESCRIPTION="Stakeholder Management and Grievance Redress Mechanism System"

DATABASE_URL=mongodb:

TEST_DB_URL=mongodb:

JWT_SECRET='Can be generated using command: openssl rand -hex 64'

AUTHORIZATION_SCHEME=Bearer

PERPAGE=10

BUGSNAG_API_KEY='Can be obtained from bugsnag project(This project) settings'

APP_BASE_URL=http://localhost:3000/api/v1

OTP_EXPIRATION_TIME=10

EMAIL_URL=https://notification.nexus.co.tz/api/v1/dispatcher/email
EMAIL_SENDER=products@ipfsoftwares.com
